<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProjectUserMapper">

  <select id="findByUsername" resultType="com.example.demo.mapper.ProjectUser">
    SELECT * FROM project_users WHERE username = #{username}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO project_users (username, password, enabled, roles)
    VALUES (#{username}, #{password}, #{enabled}, #{roles})
  </insert>

  <select id="findAll" resultType="com.example.demo.mapper.ProjectUser">
    SELECT id, username, password, enabled, roles FROM project_users
  </select>

</mapper>